# {{ ansible_managed }}
# Nginx virtual host configuration

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root {{ document_root }};
    index index.html index.htm index.php;

    server_name _;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}