[defaults]

# Путь к файлу инвентаризации (можно переопределить ключом -i)
inventory = ./inventory.ini

# Отключаем сбор фактов, если не нужны (ускоряет выполнение)
gathering = explicit

# Количество параллельных процессов (по умолчанию 5)
forks = 10

# Таймаут подключения по SSH (секунды)
timeout = 30

# Отключаем проверку SSH ключей хостов (только для тестового окружения!)
host_key_checking = False

# Включаем цветной вывод
force_color = 1

# Путь к папке с ролями
roles_path = ./playbooks/roles

# Логирование (опционально)
log_path = ./ansible/ansible.log

# Поведение при ошибках (by default - stop)
any_errors_fatal = false

# SSH соединение
[ssh_connection]

# Увеличиваем количество попыток при проблемах с SSH
retries = 3

# Используем ControlMaster для ускорения повторных подключений
pipelining = True

# Отключаем проверку хостов (дублируем для надёжности) - тоже как вариант, но выше я уже отключил проверку ssh 
#ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null