[defaults]
inventory = ./inventory.ini  # Путь к файлу инвентаризации (можно переопределить ключом -i)
gathering = explicit # Отключаем сбор фактов, если не нужны (ускоряет выполнение)
forks = 10  # Количество параллельных процессов (по умолчанию 5)
timeout = 30 # Таймаут подключения по SSH (секунды)
host_key_checking = False # Отключаем проверку SSH ключей хостов (только для тестового окружения!)
force_color = 1  # Включаем цветной вывод
roles_path = ./playbooks/roles  # Путь к папке с ролями
log_path = ./ansible/ansible.log  # Логирование (опционально)
any_errors_fatal = false  # Поведение при ошибках (by default - stop)


[ssh_connection]  # SSH соединение
retries = 3  # Увеличиваем количество попыток при проблемах с SSH
pipelining = True  # Используем ControlMaster для ускорения повторных подключений
#ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null  # Отключаем проверку хостов (дублируем для надёжности) - тоже как вариант, но выше я уже отключил проверку ssh 
